:root {
  /** colors */
  --color-name: custom;
  --color-bg-shade: #000000;
  --color-bg-base: #000000;
  --color-bg-surface: #000000;
  --color-bg-highlight: #000000;
  --color-fg-shade: #525252;
  --color-fg-base: #666666;
  --color-fg-surface: #7A7A7A;
  --color-fg-highlight: #8F8F8F;
  --color-primary-bg: #808080;
  --color-primary-base: #FFFFFF;
  --color-primary-fg: #FFFFFF;
  --color-secondary-bg: #222222;
  --color-secondary-base: #444444;
  --color-secondary-fg: #666666;
  --color-palette-red: #E06C75;
  --color-palette-green: #98C379;
  --color-palette-yellow: #E5C07B;
  --color-palette-blue: #61AFEF;
  --color-palette-purple: #C678DD;
  --color-palette-cyan: #56B6C2;
  --color-palette-orange: #FFBB7C;
  
  /** general */
  --font-family: Geist-Mono;
  --font-size: 1;
  --display-image: block;

  /** surface */
  --surface-maxWidth: 1230px;
  --surface-shadow: 7px 7px 0px rgb(128, 128, 128), 14px 14px 0px rgb(96.66666666666667, 96.66666666666667, 96.66666666666667), 21px 21px 0px rgb(65.33333333333334, 65.33333333333334, 65.33333333333334), 28px 28px 0px rgb(34, 34, 34);
  --surface-borderRadius: 0px;

  /** spacing */
  --space-smallest: 0.125rem;
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --space-largest: 3rem;

  /** others */
  --picture-size: 300px;
  --group-count: 4;
}
